// Your custom SCSS should be written here...

@import '../bower_components/gumby-parallax/_parallax.scss';

html {
    height: 2000px;
}

.navbar {
    margin-bottom: 0;
    background: rgba(0,0,0,.75);
}
.parallax {
    background-size: cover;
    background-repeat: no-repeat;
    &#one {
        background-image: url(../img/coffee1.jpg);
    }
    &#two {
        background-image: url(../img/coffee2.jpg);
    }
    &#three {
        background-image: url(../img/coffee3.jpg);
    }
}
.container {
    @include row();
}
.margins {
    background: rgba(255,255,255,.15);
    margin: 280px auto 300px;
    border-radius: 30px;
    padding: 30px;
    article {
        background: #fff;
        border-radius: 20px;
        padding: 60px;
        text-align: center;
    }
}
.skiplink {
    background: none;
}
.gumby-no-touch .navbar ul li:hover > a {
    background: rgba(80,80,80,.35);
}

h1 {
    margin-top: -15px;
    cursor: pointer;
    -webkit-transform: scale(1);
    opacity: 1;
    transition: all 400ms ease;
    &.togg1.active, &.togg2.active, &.togg3.active {
        -webkit-transform: scale(0);
        opacity: 0;
    }
}
p {
    cursor: pointer;
    -webkit-transform: scale(0);
    opacity: 0;
    margin-top: -90px;
    transition: all 400ms ease;
    &.togg1.active, &.togg2.active, &.togg3.active {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}